@{
    Layout = "_Layout";
}

<h1>Welcome to the Pierre's Bakery!</h1>
<hr />
<h4>Welcome to Pierres!! Please feel free to browse our selection! </h4>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("See Master Flavor/Treat List", "Show", null, null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("See all Flavor Categories", "Index", "Flavors", null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("See all Treats", "Index", "Treats", null, new {@class="btn btn-primary"})</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-primary" value="Log Out"/>
    }
}
else
{    
    <p>@Html.ActionLink("See Master Flavor/Treat List", "Show", null, null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("Log in", "Login", "Account", null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("Create Account", "Index", "Account", null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("See Flavor Profiles", "Index", "Flavors", null, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("See Treats", "Index", "Treats", null, new {@class="btn btn-primary"})</p>

}