@{
    Layout = "_Layout";
}

@model BakeryAuth.Models.Flavor;

<h1>Flavor Details</h1>
<hr />
<h3>Flavor Profile: @Html.DisplayFor(model => model.FlavorName)</h3>

@if (@Model.Treats.Count == 0)
{
    <p>This flavor isn't associated to any treats you've made.</p>
}
else
{
    <h4>Treats with this Flavor:</h4>
    <ul>
        @foreach (var join in Model.Treats)
        {
            <li>@join.Treat.TreatName</li>
        }
    </ul>
}
<hr />
<p>@Html.ActionLink("See Master Flavor/Treat List", "Show", "Home", null, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Back to Flavor Profiles", "Index", null, null, new {@class="btn btn-primary"})</p>
@if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
{
    <p>@Html.ActionLink("Edit Flavor Profile", "Edit", new { id = Model.FlavorId }, new {@class="btn btn-primary"})</p>
    <p>@Html.ActionLink("Delete Flavor Profile", "Delete", new { id = Model.FlavorId }, new {@class="btn btn-primary"})</p>
}
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>
