@{
    Layout = "_Layout";
}

@model BakeryAuth.Models.Flavor

<h2>Edit Flavor</h2>
<hr />

<h4>Editing Flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.EditorFor(model => model.FlavorName)

    <input type="submit" value="Edit flavor" class="btn btn-primary" />
}
<hr />
<p>@Html.ActionLink("Back to Flavor Profiles", "Index", null, null, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>