@{
  Layout = "_Layout";
}

@model BakeryAuth.Models.Treat

<h4>Add a New Treat</h4>
<hr/>
@using (Html.BeginForm())
{
    <h3>Treat Name:</h3>
    @Html.TextBoxFor(model => model.TreatName)

    @Html.Label("Select a Flavor Profile")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add a new Treat" class="btn btn-primary" />
}
<hr />
<p>@Html.ActionLink("Show All Treats", "Index", null, null, new {@class="btn btn-primary"})</p>
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>