@{
  Layout = "_Layout";
}
@using System.Security.Claims
@using BakeryAuth.Models;
@model IEnumerable<BakeryAuth.Models.Treat>;


@if (User.Identity.IsAuthenticated)
{
    <h1>@User.Identity.Name's Treats</h1>
    <hr/>
}
else
{
    <h1>Welcome to Pierre's!</h1>
    <p>Click on a treat to see details on a treat.</p>
}
<hr/>
@if (@Model.Any())
{
    @foreach (Treat treat in Model)
    {
        <h4>@Html.ActionLink($"{treat.TreatName}","Details", new { id = treat.TreatId})</h4>
    }
} 
else
{
    <h3>No treats have been added</h3>
}
<hr/>
@if (User.Identity.IsAuthenticated)
{
    <h4>@Html.ActionLink("Add New Treat", "Create", null, null, new {@class="btn btn-primary"})</h4>
}
else 
{
    <div class="createAccountLinks">
    <h4>Would you like to add treats to your order? @Html.ActionLink("Click Here", "Register", "Account") to create an account.</h4>
    <h4>@Html.ActionLink("Click Here", "Login", "Account") to log in to your account.</h4>
    </div>
}
<p>@Html.ActionLink("Home", "Index", "Home", null, new {@class="btn btn-primary"})</p>

